{% extends "base.html" %}
{% block title %}
    Технологии
{% endblock %}
{% block content %}
    <div class="row">
        <h1>
            О проекте
        </h1>
        <p>
            Это социальная сеть для постов.
            Где каждый может разместить свои истории или записи и поделиться ими со всеми.
        </p>
        <p>
            Данный проект построен на стеке технологий:
        </p>
        <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Python
                </li>
                <li class="list-group-item">
                    Django
                </li>
            </ul>
        </aside>
        <article class="col-12 col-md-9">
        </article>
    </div>
{% endblock %}